.EditorPage {
  width: 100%;
  height: 100%;

  overflow: hidden;
  position: relative;
}

.EditorPage__Browser {
  extend: .has-shadow;
  position: absolute;
  z-index: 1001;
  top: 0;
  background: var(background);

  width: var(package-browser-width-expand);
  height: 100%;

  transition: right 0.1s ease;
}

.EditorPage .EditorPage__Browser.ShowHide {
  right: var(package-browser-right);
}
.EditorPage .EditorPage__Browser.ShowHide--active {
  right: 0;
}

.EditorPage__Editor {
  extend: .has-shadow;
  font-size: var(font-size-small);
  border-top-only: 1px solid var(border-color);

  position: absolute;
  padding-right: var(package-browser-width);

  width: 100%;
  height: 50%;
  bottom: 0;

}

.EditorPage__Editor .PackageEditor__Editors,
.EditorPage__Editor .PackageEditor__Editor {
  height: 100%;
}

.EditorPage__Scene {
  height: 50%;
  width: 100%;
  position: relative;
  padding-right: var(package-browser-width);
}
.EditorPage__Scene iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: white;
}

@media only screen and (min-width: 768px) {
  .EditorPage__Editor {
    border-left-only: 1px solid var(border-color);
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
  }
  .EditorPage__Scene {
  padding-right: 0;
    width: 50%;
    height: 100%;
  }
}
