@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import "normalize-css/normalize.css";
@import "codemirror/lib/codemirror.css";
@import "./package-browser.css";
@import "./package-editor.css";
@import "./scene.css";

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #444;
  font-family: 'Source Sans Pro', sans-serif;
}

.CodeMirror {
  background: #fafafa;
  color: #969696;
  font-family: Menlo, Monaco, monospace;
  height: 100%;
  padding: 5px;
}

.EditorPage {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.EditorPage__Browser {
  position: absolute;
  z-index: 1001;
  right: -200px;
  top: 0;
  background: #fafafa;

  box-shadow: 0px 0px 5px #eee;
  width: 300px;
  height: 100%;

  transition: right 0.1s ease;
}

.EditorPage__Browser--active {
  right: 0;
}

.EditorPage__Editor {
  font-size: 90%;
  box-shadow: 0px 0px 5px #eee;
  border: none;
  border-top: 1px solid #eee;

  position: absolute;

  width: 100%;
  height: 50%;
  bottom: 0;

}

.EditorPage__Scene {
  height: 50%;
  width: 100%;
  position: relative;
}
.EditorPage__Scene iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: white;
}

@media only screen and (min-width: 768px) {
  .EditorPage__Editor {
    border: none;
    border-left: 1px solid #eee;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
  }
  .EditorPage__Scene {
    width: 50%;
    height: 100%;
  }
}
