@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

@import "normalize-css/normalize.css";
@import "codemirror/lib/codemirror.css";

@import "./theme.css";
@import "./macro.css";
@import "./package-browser.css";
@import "./package-editor.css";
@import "./scene.css";
@import "./editor.css";
@import "./editor-page.css";

* {
  box-sizing: border-box;
}

body {
  background: var(background);
  color: var(color);
  font-family: var(font-family);
}
