@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import "normalize-css/normalize.css";
@import "codemirror/lib/codemirror.css";

body {
  background: #fafafa;
  color: #444;
  font-family: 'Source Sans Pro', sans-serif;
}

.Button {
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
}

.Button:hover {
}

.TabBar__Button {
  color: #ccc;
}

.TabBar__Button--active {
  background: #eaeaea;
  color: #888;
}

.TabBar__Button:hover {
  color: #888;
}

.TabBar__Button--active:hover {
  color: #888;
}

.CodeMirror {
  background: #fafafa;
  color: #969696;
  font-family: Menlo, Monaco, monospace;
  height: 100%;
  padding: 5px;
}

.MultiEditor {
  position: relative;
}

.MultiEditor__Toolbar {
  border-bottom: 1px solid #eee;
  background: #fafafa;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.MultiEditor__Editor {
  margin-top: 30px;
  display: none;
  position: relative;
}

.MultiEditor__Editor--active {
  display: block;
}

.MultiEditor__Editor__filename {
  text-align: right;
  font-family: Menlo, Monaco, monospace;
  padding: 3px;
  color: #ddd;
  border: 1px solid #eee;
  cursor: default;
  font-size: 90%;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
}

.EditorPage {

}

.EditorPage__Editor {
  font-size: 90%;
  box-shadow: 0px 0px 5px #eee;
  border: none;
  border-top: 1px solid #eee;

  position: absolute;

  width: 100%;
  height: 50%;
  bottom: 0;

}

.EditorPage__Scene {
  font-family: Menlo, Monaco, monospace;
  height: 100%;
}
.EditorPage__Scene iframe {
  height: 100%;
  width: 100%;
  border: none;
  background: white;
}

@media only screen and (min-width: 768px) {
  .EditorPage__Editor {
    border: none;
    border-left: 1px solid #eee;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
  }
}
