.PackageEditor {
  position: relative;
}

.PackageEditor__Editor {
  display: none;
  position: relative;
}

.PackageEditor__Editor--active {
  display: block;
}

.PackageEditor__Editor__filename {
  text-align: right;
  font-family: Menlo, Monaco, monospace;
  padding: 3px;
  color: #aaa;
  border: 1px solid #ddd;
  cursor: default;
  font-size: 70%;
  position: absolute;
  z-index: 1000;
  bottom: 5px;
  left: 10px;
}

