.PackageBrowser__meta {
  padding: var(padding-large);
  color: var(color-light);
  margin-bottom: 20px;
}

.PackageBrowser__gist {
  extend: .shadowed-link;
  font-size: var(font-size-small);
}
.PackageBrowser__gist:hover {
  text-decoration: underline;
}

.PackageBrowser__name {
  font-weight: bold;
}

.PackageBrowser__version {
  float: right;
}

.PackageBrowser__description {
  font-style: italic;
  font-weight: normal;
  font-size: var(font-size-small);
}

.PackageBrowser__toolbar {
  margin: var(padding-h) 0;
}

.PackageBrowser__toolbar .Button {
  display: block;
}

.FileBrowser {
  font-family: var(font-family-monospace);
  font-size: var(font-size-small);
  color: var(color-light);
}
