.PackageBrowser__meta {
  padding: var(padding-large);
  color: var(color-light);
  margin-bottom: 20px;
}

.PackageBrowser__name {
  font-weight: bold;
}

.PackageBrowser__version {
  float: right;
}

.PackageBrowser__description {
  font-style: italic;
  font-weight: normal;
  font-size: var(font-size-small);
}

.PackageBrowser__file {
  extend: .shadowed;
  padding: var(padding);
  cursor: pointer;
  user-select: none;
}

.PackageBrowser__file--active,
.PackageBrowser__file:hover {
  extend: .highlighted;
}

.PackageBrowser__files {
  font-family: var(font-family-monospace);
  font-size: var(font-size-small);
  color: var(color-light);
}
