.PackageEditor {
  position: relative;
}

.PackageEditor__Editor {
  display: none;
  position: relative;
}

.PackageEditor__Editor--active {
  display: block;
}

.PackageEditor__Editor__CodeMirror {
}

.PackageEditor__Editor__filename {
  text-align: right;
  font-family: var(font-family-monospace);
  padding: var(padding-small);
  color: var(color-light);
  border: 1px solid #ddd;
  cursor: default;
  font-size: var(font-size-small);
  position: absolute;
  z-index: 1000;
  bottom: 5px;
  left: 10px;

  user-select: none;
}

